extends ./templates/main.pug

block head

block header
  iframe#frontBuffer(src="demos/editorVR", role="application", allowfullscreen, allowvr)

  h1 Rapidly prototype VR applications in your browser
  #cta
    a(href="doc/") get started
    a(href="demos/editorVR") try the demo

block main
  p#intro Primrose is a JavaScript framework that helps web developers create virtual reality experiences within standard web browsers, on desktop and mobile devices alike, using the free, open source web development tools with which they are most familiar.
